# Python Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.mypy_cache/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and local configurations
.vscode/
.idea/
*.log
